<html>

<head>
  <meta charset="utf-8">
  <title>jsQR Demo</title>
  <script src="./javascripts/jsQR.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <style>
    #canvas {
      width: 100%;
    }



    #noQRFound {
      text-align: center;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="images/hat.png" alt="hat logo">
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title is-1">Demo Hats</h1>
          <p id="go-btn" class="button is-dark">Ready to go?</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section" >
    <div class="container">
      <div class="columns">
        <!-- Left side -->
        <div class="column">
          <div class="level-item">
            <canvas id="canvas" hidden></canvas>
          </div>
        </div>
        <div class="column">
         
          <div id="output" class="notification is-info">
            <h2 class="subtitle is-2">Who can I see?</h2>
            <span id="outputData" class="subtitle is-3"></span>
          </div>
          <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>

          <a class="button is-success">Reset tabs</a>
        </div>



      </div>
    </div>
  </section>






  <section class="section">


    {{#each cfg}}
    <div class="container">
      {{log this}}
      <div class="columns">

        {{#each data}}
        <div class="column">
          <div class="card">


            <div class="card-content">


              <div class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="{{this.avatar}}" alt="Avatar for {{this.displayName}}">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{this.displayName}}</p>
                  <p>
                    {{this.bio}}
                  </p>
                </div>
              </div>



            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span class="button app-select-btn" id={{this.id}}>
                  Select
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a class="button" href="#">Show QR Code</a>
                </span>
              </p>
            </footer>
          </div>

        </div>
        {{/each}}

      </div>
    </div>
    {{/each}}
  </section>
  <audio id="myAudio" src="images/confirm.wav"></audio>

  <script>

    function addEvent(el, type, handler) {
      if (el.attachEvent) el.attachEvent('on' + type, handler); else el.addEventListener(type, handler);
    }    

    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");

    // setup socket io
    var socket = io();
    let buffer = '';
    let validIds;

    function drawLine(begin, end, color) {
      canvas.beginPath();
      canvas.moveTo(begin.x, begin.y);
      canvas.lineTo(end.x, end.y);
      canvas.lineWidth = 4;
      canvas.strokeStyle = color;
      canvas.stroke();
    }


    var els = document.querySelectorAll('.app-select-btn');
    els.forEach((el) => {
      // attach anonymous function to click event
      addEvent(el, 'click', function (evt) {
        console.log(evt.srcElement.id);
        socket.emit('qr', evt.srcElement.id)
      })
    });
    
  socket.on('valid', function(msg){
    console.log(msg);
    validIds = msg;
  });

    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function (stream) {
      video.srcObject = stream;
      video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      video.play();
      requestAnimationFrame(tick);
    });

    function tick() {
      loadingMessage.innerText = "⌛ Loading video..."
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        loadingMessage.hidden = true;
        canvasElement.hidden = false;
        outputContainer.hidden = false;

        canvasElement.height = video.videoHeight;
        canvasElement.width = video.videoWidth;
        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height);
        if (code) {
          drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
          drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
          drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
          drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
          //  outputMessage.hidden = true;
          //   outputData.parentElement.hidden = false;
         
          if (validIds.includes(code.data)){
             outputData.innerText = code.data;
            document.getElementById('myAudio').play();
            socket.emit('qr', code.data);
          }

        } else {
          //  outputMessage.hidden = false;
          //  outputData.parentElement.hidden = true;
        }
      }
      requestAnimationFrame(tick);
    }
  </script>
</body>

</html>