<html>

<head>
  <meta charset="utf-8">
  <title>{{info.title}}</title>
  <script src="./javascripts/jsQR.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <style>
    #canvas {
      width: 100%;
    }



    #noQRFound {
      text-align: center;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="images/hat.png" alt="hat logo">
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title is-1">{{info.title}}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
       
        <p class="is-size-4">{{info.summary}}</p>


      </div>
    </div>
  </section>






  <section class="section">


    {{#each cfg}}
    <div class="container">
      {{log this}}
      <div class="columns">

        {{#each data}}
        <div class="column">
          <div class="card">


            <div class="card-content">


              <div class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="{{this.avatar}}" alt="Avatar for {{this.displayName}}">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{this.displayName}}</p>
                  <p>
                    {{this.bio}}
                  </p>
                </div>
              </div>



            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span class="button show-modal-btn" data-modal="{{this.id}}-modal">Show QR Code
                </span>
              </p>
            </footer>
          </div>

        </div>

        <div class="modal" id="{{this.id}}-modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">{{this.displayName}}</p>
              <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <figure class="image is-128x128">
                <img src="/images/qrs/{{this.id}}.png" alt="QR for {{this.displayName}}">
              </figure>
            </section>
            <footer class="modal-card-foot">
              <a href="/images/qrs/{{this.id}}.png" download class="button is-success">Download QR Image</a>
              <button class="button  close-modal">Close</button>
            </footer>
          </div>
        </div>


        {{/each}}

      </div>
    </div>
    {{/each}}
  </section>


  <script>

    function addEvent(el, type, handler) {
      if (el.attachEvent) el.attachEvent('on' + type, handler); else el.addEventListener(type, handler);
    }
    function hasClass(el, className) {
      return el.classList ? el.classList.contains(className) : new RegExp('\\b' + className + '\\b').test(el.className);
    }

    function addClass(el, className) {
      if (el.classList) el.classList.add(className);
      else if (!hasClass(el, className)) el.className += ' ' + className;
    }

    function removeClass(el, className) {
      if (el.classList) el.classList.remove(className);
      else el.className = el.className.replace(new RegExp('\\b' + className + '\\b', 'g'), '');
    }


    var currentModal;



    var elsmodal = document.querySelectorAll('.show-modal-btn');
    elsmodal.forEach((el) => {
      // attach anonymous function to click event
      addEvent(el, 'click', function (evt) {
        console.log(evt.srcElement.dataset.modal);
        currentmodal = document.getElementById(evt.srcElement.dataset.modal);
        addClass(currentmodal, "is-active");
      })
    });

    var elsclosemodal = document.querySelectorAll('.close-modal');
    elsclosemodal.forEach((el) => {
      // attach anonymous function to click event
      addEvent(el, 'click', function (evt) {
        console.log(evt.srcElement.dataset.modal);
        removeClass(currentmodal, "is-active");
      })
    });


     </script>
</body>

</html>